/* common.css */
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}


/* task-5 */
.widget {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.widget p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #2E2F42;
}

.widget .color {
    font-size: 16px;
    font-weight: 600;
}

.widget .change-color {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #4E75FF;
    color: #ffffff;
}