/* common.css */
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* task-4 */

.login-form {
    width: 408px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
}

.login-form input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-size: 16px;
    font-weight: 400;
    color: #2E2F42;
}

.login-form button {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #4E75FF;
    color: #ffffff;
}