/* common.css */
* {
  box-sizing: border-box;
}

body {
  margin: 16px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* task-2 */
.gallery {
    margin: 100px auto;
    padding: 0;
    width: 1128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    list-style: none;
}

.gallery-item {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 300px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}